body{
    background: #000;
    margin: 0;
}
.pg_footer{
    background: green;
    height: 30px;
}

.pg_header{
    height: 50px;
    background: antiquewhite;
}

div{
    color: #ffffff;
    font-size: 14px;
}