body{
    background: white;
    margin: 0;
}
.pg_footer{
    width:100%;
    background: green;
    height: 50px;
    bottom: 0px;
    position: fixed;

}

.pg_header{
    font-size: 18px;
    height: 50px;
    background: darkblue;
}

.pg_item{
            width: 200px;
            background: cornflowerblue;
            top: 50px;
            position: absolute;
            bottom: 0;
}

.pg_container{
    position: absolute;
    bottom: 0;
    top:50px;
    left: 200px;
    right: 0;
    background:black;
}

.content{
    position: absolute;
    left:20px;
    top: 20px;
}
div{
    color: #ffffff;
    font-size: 14px;
}


