
.shade{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #000;
    opacity: 0.5;
    z-index: 1;
}
.add_modal,.edit_modal{
    position: fixed;
    top:100px;
    height: 300px;
    right: 50%;
    width: 400px;
    margin-right: -200px;
    background: antiquewhite;
    z-index: 2;
}
.hidden{
    display: none;
}