{% extends 'base.html' %}

{% block page-container %}
    <div class="chat-container">
        <div class="left-contact-panel">
            <ul class="nav nav-pills">
                <li role="presentation" class="active"><a href="#contact-tab" data-toggle="tab">好友</a></li>
                <li role="presentation"><a href="#group-tab" data-toggle="tab">群组</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="contact-tab">
                    <ul class="list-group">
                        {% for friend in request.user.userprofile.friends.select_related %}
                            <li contact-type="single" contact-id='{{ friend.id }}' onclick="OpenChatWindow(this)"
                                class="list-group-item">
                                <span class="badge hide">14</span>
                                <span class="contact-name">{{ friend.name }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane" id="group-tab">
                    <ul class="list-group">
                        {% for group in request.user.userprofile.group_members.select_related %}
                            <li contact-type="group" contact-id='{{ group.id }}' onclick="OpenChatWindow(this)"
                                class="list-group-item">
                                <span class="badge hide">14</span>
                                <span class="contact-name">{{ group.name }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

        </div>
        <div class="right-chat-panel">
            <div class="chat-box-title" contact-type="" contact-id="">
                title

            </div>


            <div class="chat-box-window">
                <div id='1' class="progress-bar hide" style="height:20px;width:100%;float: left;">
                    <div id='2' class="progress-bar-success" style="height:100%;width:0px;float:left;"></div>
                    <span style="float:right;" id='3'>0%</span>
                </div>
                <div id='4' class="progress-bar-success" style="height:20px;width:100%;float:left;text-align: center;display: none">上传成功</div>
            </div>

            <div class="chat-box-emoj">
                {#                <span class="glyphicon glyphicon-picture"></span>#}
                <div class="col-md-3" style="width: 10px">
                    <input type="file" id='file_test' class="glyphicon-upload glyphicon"
                           style="width: 15px;height: 15px;margin: 4px;">
                    {#                    <input type="file" id='file_test' class="file-upload" >#}
                </div>
                <div class="col-md-3">
                    <span onclick="UploadFile();">上传</span>
                </div>

            </div>
            <div class="chat-box-msg-box">
                <textarea id="msg"></textarea>
                <button class="btn btn-success">发送</button>
            </div>
        </div>
        {# clear-both用于将外边框撑起来，否则最外层的dev就无法撑起来了#}
        <div class="clear-both"></div>
    </div>
{% endblock %}

{% block script-container %}
    <script>
        // start csrf
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        //end csrf

        $(document).ready(function () {
            //设置导航条聊天室高亮
            $('#navbar .nav li a[href="{{ request.path }}"]').parent().addClass('active')
        });

        //send message
        //delegate定义
        $('body').delegate('textarea', 'keydown', function (e) {
            //console.log(e.which);
            if (e.which == 13) {
                var msg_text = $('textarea').val();
                if ($.trim(msg_text).length > 0) {
                    {#console.log(msg_text);#}
                    SendMsg(msg_text);
                }
                AddSentMsgIntoBox(msg_text, 'text');
                $('textarea').val('');
            }

        });

        $('button').click(function () {
            var msg_text = $('textarea').val();
            if ($.trim(msg_text).length > 0) {
                {#console.log(msg_text);#}
                SendMsg(msg_text);
            }
            AddSentMsgIntoBox(msg_text, 'text');
            $('textarea').val('');
        });

        function SendMsg(msg_text) {
            var content_type = $('.chat-box-title').attr('contact-type');
            var content_id = $('.chat-box-title').attr('contact-id');
            if (content_id && content_type) {
                var msg_item = {
                    'from': '{{ request.user.userprofile.id }}',
                    'from_name': '{{ request.user.userprofile.name }}',
                    'to': content_id,
                    'type': content_type,
                    'msg': msg_text,
                };
                $.post(
                    "{% url 'send_msg' %}",
                    {data: JSON.stringify(msg_item)},   //注意这里要JSON.stringfy序列化成字符串，不然后端取不到数据。
                    //下面的data:msg_item，传到后端取不到数据的，返回None
                    {#{data: msg_item},#}
                    function (callback) {
                        console.log(callback)
                    }
                ) //end port
            } else {
                console.log('请选择聊天对象');
            }

        }

        function GetNewMsgs() {
            $.getJSON(
                "{% url 'get_new_msg' %}",
                function (callback) {
                    console.log(callback);
                    ParseNewMsgs(callback);
                    GetNewMsgs();       //异步回调函数，这个和python不一样，python会有最大层数限制，这个不会
                }
            )

        }

        GetNewMsgs();

        //解析新消息
        function ParseNewMsgs(callback) {
            var current_session_id = $('.chat-box-title').attr('contact-id');
            var current_session_type = $('.chat-box-title').attr('contact-type');
            for (var index in callback) {
                console.log(index);
                console.log(callback[index].from);
                if (callback[index].type == 'group') {
                    msg_from_contact_id = callback[index].to
                } else {
                    msg_from_contact_id = callback[index].from
                }
                msg_from_contact_name = callback[index].from_name;
                if (msg_from_contact_id == current_session_id && callback[index].type == current_session_type) {   //发送的消息是给当前用户的
                    var msg_item_ele = "<div class='msg-item'>" +
                        "<span>" + msg_from_contact_name + "</span>" +
                        "<span>" + callback[index].timestamp + "</span>" +
                        "<div class='msg-text'>" + callback[index].msg + "</div>" +
                        "</div>"
                    $('.chat-box-window').append(msg_item_ele);
                } else {
                    /*
                    //此消息未打开聊天框，消息暂存内存
                    //var GLOBAL_CHAT_RECORD_DIC={};
                    if (GLOBAL_CHAT_RECORD_DIC[callback[index].type][msg_from_contact_id]){
                        GLOBAL_CHAT_RECORD_DIC[callback[index].type][msg_from_contact_id]+=msg_item_ele
                    }else {
                        GLOBAL_CHAT_RECORD_DIC[callback[index].type][msg_from_contact_id]=msg_item_ele
                    }
                    console.log(GLOBAL_CHAT_RECORD_DIC);

                     */

                    //var contact_ele=$(".list-group li[contact-type='single']").filter("[contact-id='4']").children(".badge").text();
                    //$(".list-group li[contact-type='"+ [callback[index].type] +"']").filter("[contact-id='"+ [msg_from_contact_id] +"']").children(".badge").text();
                    //获取到当前选定标签下的span标签
                    var find_msg_num_span = $(".list-group li[contact-type='" + [callback[index].type] + "']").filter("[contact-id='" + [msg_from_contact_id] + "']").children(".badge");
                    var current_new_msg_num = find_msg_num_span.text();
                    find_msg_num_span.removeClass('hide');
                    find_msg_num_span.text(parseInt(current_new_msg_num) + 1);
                }

            }

        }

        /***
         var Msgupdate=setInterval(function () {
            GetNewMsgs();
        },3000);
         ***/

        //将消息添加进聊天框
        function AddSentMsgIntoBox(msg_text, msg_type) {
            if (msg_type == 'text') {
                var new_msg_ele = "<div class='msg-item'>" +
                    "<span>" + "{{ request.user.userprofile.name }}" + "</span>" +
                    "<span>" + new Date().toLocaleTimeString() + "</span>" +
                    "<div class='msg-text'>" + msg_text + "</div>" +
                    "</div>";
            } else if (msg_type.startsWith('image')) {
                var new_msg_ele = "<div class='msg-item'>" +
                    "<span>" + "{{ request.user.userprofile.name }}" + "</span>" +
                    "<span>" + new Date().toLocaleTimeString() + "</span>" +
                    "<div class='msg-text'><img style='width:200px' src='/static/" + "{{ request.user.userprofile.id }}" + "/" + msg_text + "'/></div>" +
                    "</div>";
            } else {
                var new_msg_ele = "<div class='msg-item'>" +
                    "<span>" + "{{ request.user.userprofile.name }}" + "</span>" +
                    "<span>" + new Date().toLocaleTimeString() + "</span>" +
                    "<div class='msg-text'><a href='/static/" + "{{ request.user.userprofile.id }}" + "/" + msg_text + "' target='_blank'>"+ msg_text +"点击下载 </a></div>" +
                    "</div>";
            }
            $(".chat-box-window").append(new_msg_ele);
            //获取窗口的高度，并自动滚动到最下方
            // scrollTop 设置偏移值,定位到坐标位置，scrollHeight获取高度，animate改变div元素的高度，可用于制作动画
            $('.chat-box-window').animate({
                scrollTop: $('.chat-box-window')[0].scrollHeight
            }, 500);
        }; //end AddSentMsgIntoBox

        //选择聊天对象后高亮，并修改聊天框标题里面的人名
        function OpenChatWindow(ele) {
            console.log($(ele).children('.contact-name').html());
            $(ele).addClass('active');
            $(ele).siblings().removeClass('active');
            var contact_type = $(ele).attr('contact-type');
            var contact_id = $(ele).attr('contact-id');
            var contact_name = $(ele).children('.contact-name').text();
            var chat_box_title_content = '正在跟 ' + contact_name + ' 聊天';
            console.log(contact_id, contact_type, contact_name);
            $('.chat-box-title').html(chat_box_title_content);
            $('.chat-box-title').attr('contact-id', contact_id);
            $('.chat-box-title').attr('contact-type', contact_type);
            //点击后隐藏并清空消息计数
            $(ele).children('.badge').addClass('hide');
            $(ele).children('.badge').text(0);
        } //end OpenChatWindow

        //上传文件
        function UploadFile() {
            var formData = new FormData();        //创建一个FormData的函数，用于接收上传的文件
            var file_obj=$('#file_test')[0].files[0];
            console.log('上传的对象',file_obj);
            formData.append('file', file_obj);    //获取上传的图片对象并追加到FormData，name名称file，
            console.log('FormData对象',formData);     //拿不到值
            $.ajax({
                url: '{% url 'file_upload_webchat' %}',
                type: 'POST',
                data: formData,
                processData: false,     //告诉jquery不要对数据进行处理
                contentType: false,
                xhr:function(){
                    var xhr = new XMLHttpRequest();
                    /*
                    xhr对象含有一个upload对象，它有一个progress事件，在文件上传过程中会被不断触发，我们为这个事件对应一个处理函数on_progress，
                    每当事件触发就会调用这个函数，于是便可利用这个函数来修改当前进度
                    addEventListener 用于添加绑定的监听函数，当事件触发时，触发里面的函数
                     */
                    xhr.upload.addEventListener('progress', on_progress, false);
                    return xhr;
                },
                success: function (data) {
                    console.log(data);
                    //当上传成功后的显示上传成功的提示，然后提示逐渐消失
                    $('#1').addClass('hide');    //上传成功后，隐藏100%的进度条
                    $('#4').css('display','block');     //展示“上传成功”提示的进度条
                    $('#4').fadeOut(3000);      //让“上传成功”进度条3s内逐渐消失。注意这里的css样式要用display none，不要用hide，否则会出现第二次无法渐变消失的bug.
                    AddSentMsgIntoBox(file_obj.name,file_obj.type);
                }
            });//end ajax
            //upload(file_obj);
        } //end UploadFile

 /***
 这段没有跑通，改为用下面的upload()方法来实现了

        function GetFileUploadProgress(file_obj) {
            var UploadProgressRefresh = setInterval(function () {
                $.getJSON(
                   {#"{% url 'file_upload_progress' %}",#}
                    {filename: file_obj.name},
                    function (callback) {
                        console.log('upload progress:' + callback.recv_size);
                        if (file_obj.size >= callback.recv_size) {
                            clearInterval(UploadProgressRefresh);
                            $.get(
                                {#"{% url 'delete_cache_key' %}",#}
                                {key_name: file_obj.name},
                                function (callback) {
                                    console.log(callback);

                                }
                            ); //end get
                            AddSentMsgIntoBox(callback.filename, file_obj.type);
                            //console.log('文件类型',file_obj.type)
                        } //end if
                        var current_percent = (callback.recv_size / file_obj.size) * 100 + '%';
                        $('.progress-bar').css('width', current_percent);
                        $('.progress-bar').text(current_percent);

                    }   //end function
                ) //end getJSON
            })  // end setInterval
        } //end GetFileUploadProgress
***/
        //上传文件的过程中触发的函数,用于实时更新进度条
        function on_progress(evt) {       //看这个函数之前先看UploadFile函数。这个函数可以接收一个evt(event)对象(细节自行查询progress)，他有3个属性lengthComputable，loaded，total，第一个属性是个bool类型的，代表是否支持，第二个代表当前上传的大小，第三个为总的大小，由此便可以计算出实时上传的百分比
            if (evt.lengthComputable) {
                $('#1').removeClass('hide');
                var ele = document.getElementById('2');
                var percent = Math.round((evt.loaded) * 100 / evt.total);
                ele.style.width = percent + '%';
                document.getElementById('3').innerHTML = percent + '%';
            }
        }

        //上传文件函数
        {#function upload(file_obj) {#}
        {#    var xhr = new XMLHttpRequest();#}
        {#    var file = file_obj;  //取得文件数据，而.file对象只是文件信息#}
        {#    console.log(file);#}
        {#    var form = new FormData();   //FormData是HTML5为实现序列化表单而提供的类，更多细节可自行查询#}
        {#    form.append('file', file);   //这里为序列化表单对象form添加一个元素，即file#}
        {#    xhr.upload.addEventListener('progress', on_progress, false);     //xhr对象含有一个upload对象，它有一个progress事件，在文件上传过程中会被不断触发，我们为这个事件对应一个处理函数，每当事件触发就会调用这个函数，于是便可利用这个函数来修改当前进度，更多细节可自行查询#}
        {#    xhr.open('POST', '{% url 'file_upload_webchat' %}', true);  //请将url改成上传url#}
        {#    xhr.setRequestHeader('X-CSRFTOKEN', '{{ request.COOKIES.csrftoken }}');   //此处为Django要求，可无视，或者换成相应后台所要求的CSRF防护，不是django用户请去掉#}
        {#    xhr.send(form);   //发送表单#}
        {# } #}

    </script>
{% endblock %}