{% load filter %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文章标题</title>
    <style>
        .condition a {
            display: inline-block;
            border: aqua solid;
            margin: 5px 5px;
            padding: 1px 10px;
        }

        .condition a.choice {
            background: aquamarine;
        }
    </style>
</head>
<body>
<div class="condition">
    <h1>过滤条件</h1>
    <div>
        {% filter_all kwargs 'category_id' %}
        {% filter_article_type category kwargs 'category' %}
    </div>
    <div>
        {% filter_all kwargs 'article_type_id' %}
        {% filter_article_type articletype kwargs 'articletype' %}

    </div>
</div>

<ul>
    <h1>查询结果</h1>
    {% for i in result %}
        <li>{{ i.id }}-{{ i.title }}</li>
    {% endfor %}
</ul>
</body>
</html>